/*
 {
    margin: 0;
    padding: 0;
    background: gray;
} 
*/

/* blockquote h1{
    color: red;
}

h1{
     color: green; 
}

.demo{
    background: orange;
} */

input[type="text"]{
    background: red;
    display: block;
    
}