<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <!-- ========Header Section=============  -->
    <header>
        <!-- ======top header section======== -->
        <div class="top-header">
            <div class="container">
                <div class="top-main-section">
                    <div class="top-left-section">
                        <ul>
                            <li>
                                <i class="fa fa-envelope"></i>
                                Email:
                                <a href="" style="color: rgb(0, 0, 142);">
                                    info@mern7am.com.np
                                </a>
                            </li>
                            <li>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                Phone:
                                <a href="">988868</a>
                            </li>
                        </ul>
                    </div>
                    <div class="top-right-section">
                        <ul>
                            <li><a href=""><i class="fa fa-home"></i> Home </a></li>
                            <li><a href="">About Us</a></li>
                            <li><a href="">Account</a></li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>
        <!-- ======End top header section======== -->
        <div class="container">
            <div class="header-main">
                <div class="logo">logo here</div>
                <div class="company-name">
                    <h1>MERN7AM</h1>
                </div>
                <div class="search-section">
                    <input type="search" placeholder="Enter any keywords" class="form-control">
                </div>
            </div>
        </div>

    </header>
    <!-- ========End Header Section=============  -->
    <div class="menu">
        <div class="container">
            <ul>
                <li><a href="">
                        <i class="fa fa-home"></i>
                    </a></li>
                <li><a href="">Course</a>
                    <ul>
                        <li><a href="">HTML</a></li>
                        <li><a href="">CSS</a></li>
                        <li><a href="">JavaScript</a></li>

                    </ul>
                </li>
                <li>
                    <a href="">FAQ</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="banner-section">
        <img src="./images/banner.png" alt="">
        <div class="banner-text">
            <div class="container">
                <h1>WELCOME MERN STACK</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quis, molestias exercitationem
                    repudiandae laboriosam, inventore eveniet soluta facilis laborum sunt
                    maiores quidem ea! Sit totam debitis recusandae aperiam facere ullam.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="latest-title">
            <h1>Latest Course</h1>
        </div>
        <div class="courses">
            <div class="course">
                <div class="course-image">
                    <img src="./images/banner.png" alt="">
                </div>
                <div class="course-title">
                    <h1>HTML AND CSS</h1>
                </div>
                <div class="course-description">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, tenetur sunt? Vero
                        reprehenderit soluta tempora, suscipit hic tempore? Ducimus eveniet, accusamus
                        minus recusandae atque vero. Ipsam suscipit repellendus atque sed.
                    </p>
                </div>
            </div>
            <div class="course">
                <div class="course-image">
                    <img src="./images/banner.png" alt="">
                </div>
                <div class="course-title">
                    <h1>HTML AND CSS</h1>
                </div>
                <div class="course-description">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, tenetur sunt? Vero
                        reprehenderit soluta tempora, suscipit hic tempore? Ducimus eveniet, accusamus
                        minus recusandae atque vero. Ipsam suscipit repellendus atque sed.
                    </p>
                </div>
            </div>
            <div class="course">
                <div class="course-image">
                    <img src="./images/banner.png" alt="">
                </div>
                <div class="course-title">
                    <h1>HTML AND CSS</h1>
                </div>
                <div class="course-description">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, tenetur sunt? Vero
                        reprehenderit soluta tempora, suscipit hic tempore? Ducimus eveniet, accusamus
                        minus recusandae atque vero. Ipsam suscipit repellendus atque sed.
                    </p>
                </div>
            </div>
            <div class="course">
                <div class="course-image">
                    <img src="./images/banner.png" alt="">
                </div>
                <div class="course-title">
                    <h1>HTML AND CSS</h1>
                </div>
                <div class="course-description">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, tenetur sunt? Vero
                        reprehenderit soluta tempora, suscipit hic tempore? Ducimus eveniet, accusamus
                        minus recusandae atque vero. Ipsam suscipit repellendus atque sed.
                    </p>
                </div>
            </div>
            <div class="course">
                <div class="course-image">
                    <img src="./images/banner.png" alt="">
                </div>
                <div class="course-title">
                    <h1>HTML AND CSS</h1>
                </div>
                <div class="course-description">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, tenetur sunt? Vero
                        reprehenderit soluta tempora, suscipit hic tempore? Ducimus eveniet, accusamus
                        minus recusandae atque vero. Ipsam suscipit repellendus atque sed.
                    </p>
                </div>
            </div>
            <div class="course">
                <div class="course-image">
                    <img src="./images/banner.png" alt="">
                </div>
                <div class="course-title">
                    <h1>HTML AND CSS</h1>
                </div>
                <div class="course-description">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, tenetur sunt? Vero
                        reprehenderit soluta tempora, suscipit hic tempore? Ducimus eveniet, accusamus
                        minus recusandae atque vero. Ipsam suscipit repellendus atque sed.
                    </p>
                </div>
            </div>
            <div class="course">
                <div class="course-image">
                    <img src="./images/banner.png" alt="">
                </div>
                <div class="course-title">
                    <h1>HTML AND CSS</h1>
                </div>
                <div class="course-description">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, tenetur sunt? Vero
                        reprehenderit soluta tempora, suscipit hic tempore? Ducimus eveniet, accusamus
                        minus recusandae atque vero. Ipsam suscipit repellendus atque sed.
                    </p>
                </div>
            </div>
            <div class="course">
                <div class="course-image">
                    <img src="./images/banner.png" alt="">
                </div>
                <div class="course-title">
                    <h1>HTML AND CSS</h1>
                </div>
                <div class="course-description">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, tenetur sunt? Vero
                        reprehenderit soluta tempora, suscipit hic tempore? Ducimus eveniet, accusamus
                        minus recusandae atque vero. Ipsam suscipit repellendus atque sed.
                    </p>
                </div>
            </div>
        
        </div>
    </div>
    <footer>
        <div class="container">
            <h1>Footer section</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia, obcaecati ipsum. Dolorem dolor maiores error ducimus dignissimos, impedit, ex id odit voluptatibus
                 labore officiis quo perferendis harum praesentium, unde officia.
            </p>
        </div>
    </footer>
</body>

</html>