body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    width: 90%;
    margin: auto;
}

.top-header{
    width: 100%;
    font-family: sans-serif;
    border-bottom: 1px solid rgb(239, 237, 237);
}



.top-header a{
    text-decoration: none;
    color: rgb(3, 0, 0);

}


.top-header .top-main-section{
    display: flex;
    justify-content: space-between;
}



.top-header .top-main-section .top-left-section ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}
.top-header .top-main-section .top-left-section ul li{
    padding: 10px 10px 10px 0;
}


.top-header .top-main-section .top-right-section ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}
.top-header .top-main-section .top-right-section ul li{
    padding: 10px 10px 10px 0;
    min-width: 80px;
    text-align: center;
}


.header-main{
   display: flex;
   height: 100px;
}

.header-main .logo{
    width: 20%;
    background: url('../images/logo.png') no-repeat;
    background-size: contain;

    text-indent: -200px;
}

.header-main .company-name{
    width: 30%;

    text-align: center;
    align-self: center;
}
.header-main .company-name h1{
    margin: 0;
    padding: 0;
    font-size: 70px;
    font-family: sans-serif;
}
.header-main .search-section{
    width: 50%;
    line-height: 100px;
    text-align: right;

}
.header-main .search-section .form-control{
    width: 85%;
    height: 50px;
    border: 2px solid rgb(239, 237, 237);
}

.header-main .search-section input[type=search]{    
    padding: 0 0 0 15px;
   
}

.header-main .search-section .form-control::placeholder{
    font-size: 20px;
    padding: 10px;
}

.menu{
    width: 100%;
    height: 50px;
    background: rgb(32, 1, 144);
}

.menu a{
    color: white;
    text-decoration: none;
}
.menu ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 500;
    position: relative;
}
.menu ul li{
    min-width: 100px;
    line-height: 50px;
    text-align: center;
}

.menu ul ul{
    display: flex;
    flex-direction: column;
    display: none;
    position: absolute;
}
.menu ul li:hover{
    background: orange;
}

.menu ul li:hover ul{
    display: block;
    background: rgb(32, 1, 144);
}
.banner-section{
    width: 100%;
    height: 500px;
    position: relative;
}

.banner-section img{
    width: 100%;
    height: 100%;
    z-index: -100;
}

.banner-text{
    position: absolute;
    top: 100px;
    background: lightgray;
    width: 50%;
    left: 50px;
    border-radius: 10px;
    padding: 20px;

}

.courses{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    
}
.courses .course{
    padding: 20px;
    border: 2px solid rgb(238, 237, 237);
    border-radius: 10px;

}

.courses .course .course-image img{
    width:100%;
}

footer{
    margin: 20px 0 0 0;
    width: 100%;
    background: blue;
    min-height: 300px;
}


@media screen and (max-width:720px) {
    .container{
        margin: auto;
      
    }
    .top-right-section{
        display: none;
        background: red;
        
    }
    .company-name{
        display: none;
    }

    .search-section{
        background: red;
        width: 80%;
    }

    .courses{
        display: flex;
        flex-direction: column;
    }
}